    <a href="#">play</a>
    
    <style>
        a{
            background-color: #1ed760;
            color: black;
            padding: 1rem;
            border-radius: 50px;
            text-decoration: none;
        }
    </style>