
<button>
    <p>search</p>
</button>

<style>
    button:hover{
        scale:1.04;
    }
    button{
        border-radius: 1000px;
        width: 250px;
        background-color: rgb(57, 57, 57)
    }
    button p{
        color: rgb(126, 126, 126);
        text-align: center;
    }
</style>